<td width="272" class="esd-container-frame es-m-p20b product-card" align="center" valign="top">
    <table cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td align="center" class="esd-block-image es-p10b ext-product-image" style="font-size: 0px;">
                    <a target="_blank" href="#PRODUCT_HREF#"><img class="adapt-img esdev-stretch-width" src="#PRODUCT_IMAGE_SRC#"
                        alt="#PRODUCT_TITLE#" style="display: block;" width="272" title="#PRODUCT_TITLE#"></a></td>
            </tr>
            <tr>
                <td align="left" class="esd-block-text ext-product-name">
                    <p style="color: #555555; font-size: 14px; line-height: 200%; font-weight: bold;">#PRODUCT_TITLE#</p>
                </td>
            </tr>
            <tr>
                <td align="left" class="esd-block-text ext-product-vendor-code">
                    <p style="font-size: 12px; color: #8288ab; line-height: 200%;">#PRODUCT_VENDOR_CODE#</p>
                </td>
            </tr>
            <tr>
                <td align="left" class="esd-block-text ext-product-price">
                    <p style="color: #555555; font-size: 14px; line-height: 200%; font-weight: bold;">#PRODUCT_PRICE#</p>
                </td>
            </tr>
            <tr>
                <td align="left" class="esd-block-text ext-product-dimensions">
                    <p style="font-size: 12px; color: #8288ab; line-height: 200%;">#PRODUCT_DIMENSIONS#</p>
                </td>
            </tr>
            <tr>
                <td align="center" class="esd-block-button es-p10t ext-product-button">
                    <span class="es-button-border" style="display: block">
                        <a href="#PRODUCT_HREF#" class="es-button" target="_blank" style="display: block">#PRODUCT_BUTTON_TEXT#</a>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</td>