@font-face {
    font-family: 'stripo-icons';
    src: url('../fonts/stripo-icons.eot?42888809');
    src: url('../fonts/stripo-icons.eot?42888809#iefix') format('embedded-opentype'),
    url('../fonts/stripo-icons.woff2?42888809') format('woff2'),
    url('../fonts/stripo-icons.woff?42888809') format('woff'),
    url('../fonts/stripo-icons.ttf?42888809') format('truetype'),
    url('../fonts/stripo-icons.svg?42888809#stripo-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="es-icon-"]:before,
[class*=" es-icon-"]:before {
    font-family: "stripo-icons", "fontello" !important;
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 0.9em;
    margin-right: .1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 0.8em;
    top: 2px;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 166%;
}

.es-icon-structure-like:before {
    content: '\eb2f';
}
