<div id="fontSizeModal" style="background-color: rgba(0,0,0,.5); overflow: hidden; position: fixed; top: 0; right: 0;  bottom: 0; left: 0; z-index: 1050; font-family: sans-serif;">
    <div style="margin: 10px;">
        <div style="background-color: #f6f6f6; border-radius: 17px 17px 30px 30px; max-width: 300px; margin: 0 auto;">
            <div style="padding: 15px; border-bottom: 1px solid #e5e5e5;">
                <div>
                    <button class="close" type="button" style="cursor: pointer; background: transparent; border: 0; float: right; font-size: 21px; font-weight: bold; opacity: .2;">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 style="margin: 0; font-size: 18px; color: rgb(85, 85, 85);">Font size</h4>
                </div>
            </div>
            <div style="padding: 15px;">
                <div>
                    <input type="radio" id="headerBlockSizeSmall" name="headerFontSize" value="18px">
                    <label for="headerBlockSizeSmall">Small</label>
                </div>

                <div>
                    <input type="radio" id="headerBlockSizeLarge" name="headerFontSize" value="30px">
                    <label for="headerBlockSizeLarge">Large</label>
                </div>
            </div>
        </div>
    </div>
</div>
