<td class="esd-structure" align="left">
    <table width="100%" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
            <td class="esd-container-frame" width="560" valign="top" align="center">
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td class="esd-empty-container" style="display: none;" align="center"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</td>